html {
  font-size: 10px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color:#002292;
  display:flex;
  height: 100vh;
  align-items: center;

  background-image:
  radial-gradient(circle at 100% 150%, #1239bd 24%, #003bff 25%, #003bff 28%, #1239bd 29%, #1239bd 36%, #003bff 36%, #003bff 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, #1239bd 24%, #003bff 25%, #003bff 28%, #1239bd 29%, #1239bd 36%, #003bff 36%, #003bff 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, #003bff 10%, #1239bd 11%, #1239bd 23%, #003bff 24%, #003bff 30%, #1239bd 31%, #1239bd 43%, #003bff 44%, #003bff 50%, #1239bd 51%, #1239bd 63%, #003bff 64%, #003bff 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, #003bff 5%, #1239bd 6%, #1239bd 15%, #003bff 16%, #003bff 20%, #1239bd 21%, #1239bd 30%, #003bff 31%, #003bff 35%, #1239bd 36%, #1239bd 45%, #003bff 46%, #003bff 49%, transparent 50%, transparent),
  radial-gradient(circle at 0    50%, #003bff 5%, #1239bd 6%, #1239bd 15%, #003bff 16%, #003bff 20%, #1239bd 21%, #1239bd 30%, #003bff 31%, #003bff 35%, #1239bd 36%, #1239bd 45%, #003bff 46%, #003bff 49%, transparent 50%, transparent);
  background-size:100px 50px;
}

.voiceinator {
  padding:2rem;
  width:50rem;
  margin:0 auto;
  border-radius:1rem;
  position: relative;
  background:white;
  overflow: hidden;
  z-index: 1;
  box-shadow:0 0 5px 5px rgba(0,0,0,0.1);
}

h1 {
  width: calc(100% + 4rem);
  margin: -2rem 0 2rem -2rem;
  padding: .5rem;
  color: #ff0000;
  background: #fff900;
  border-bottom: 5px solid #ff0000;
  text-align: center;
  font-size: 5rem;
  font-weight: 100;
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px 0 #000000;
}

.voiceinator input,
.voiceinator button,
.voiceinator select,
.voiceinator textarea {
  width: 100%;
  display: block;
  margin: 10px 0;
  padding: 10px;
  border: 0;
  font-size: 2rem;
  background: #03226b;
  outline: 0;
  color: #ffffff;
  border-radius: 10px;
}

textarea {
  height: 20rem;
}

input[type="select"] {

}

.voiceinator button {
  background:#2900ff;
  border:0;
  width: 49%;
  float:left;
  font-family: 'Pacifico', cursive;
  margin-bottom: 0;
  font-size: 2rem;
  border-bottom: 5px solid #22008c;
  cursor:pointer;
  position: relative;
  color: #ffffff;
}

.voiceinator button:active {
  top:2px;
}

.voiceinator button:nth-of-type(1) {
  margin-right: 2%;
}
